header {
  background-color: lightgray;
  color: black;
  padding: 16px;
  text-align: center;
  text-decoration: solid;
}

header h1 {
  font-size: 120px;
  margin: 0;
}

h2 {
  font-size: 95px;
  margin: 0;
  text-decoration: underline;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.chapter-list-container {
  display: flex;
}

#chapter-list {
  flex: 35%;
  padding: 16px;
  max-height: calc(100vh - 400px);
  overflow: auto;
}

#quran-text {
  flex: 70%;
  padding: 16px;
  height: 250px;
}

.chapter-list-container h2 {
  font-size: 150px;
  margin: 360px;
  color: black;
}

.chapter-list-container li {
  margin: 0;
}

.chapter-list-container a {
  display: block;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.chapter-list-container a:last-child {
  border-bottom: none;
}

.chapter-list-container a.active {
  font-weight: bold;
  background-color: #d4edda;
  border-left: 4px solid #28a745;
}

body {
  background-image: url("https://img.freepik.com/free-photo/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-54687.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
